services:
  app:
    build: .
    container_name: boo
    command: sh -c "python src/main.py"
    environment:
      - CONTEXT_LIMIT=${CONTEXT_LIMIT}
      - CLOUDFLARE_ACCOUNT_ID=${CLOUDFLARE_ACCOUNT_ID}
      - CLOUDFLARE_WORKERS_AI_API_KEY=${CLOUDFLARE_WORKERS_AI_API_KEY}
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - ADMIN_LIST=${ADMIN_LIST}
      - TENOR_API_KEY=${TENOR_API_KEY}
      - TOMORROW_IO_API_KEY=${TOMORROW_IO_API_KEY}
